.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,
    blue,
    black,
    blue);
}

h2{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;    
    color: white;
}

.tabuleiro{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}

.quadrados{
    border: 2px solid blue;

    width: 100px;
    height: 100px;
    border-radius: 40%;
    background-color: white;
}

button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
}

.marcaX{
    
    background-image: url(../imgens/x.png);
    background-size: 80px 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.marcaO{
    
    background-image: url(../imgens/o.png);
    background-size: 80px 80px;
    background-position: center;
    background-repeat: no-repeat;
}
